.home {
    width: 100%;
    align-items: center;

  }

#title{
    margin-top: 130px;
    color:#C39E9E;
    font-size: 20px;
}

#name{
    font-size: 5vw;
    font-weight: 800;
    color: #C39E9E;
    letter-spacing: 0.1rem;
    margin: auto;
    text-align: center;
    padding-top: 18px;
    width: 100%;

}

p{
    font-weight: 300;
    line-height: 1.35;
}

.text {
    width: 100%;
    float:center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.socials{
    display: flex;
    flex-direction: row;
    margin: auto;
}

hr{
    width: 150px;
    text-align:left;
    margin: 15px 10px 15px 10px;
    height:2px;
    border-width:0;
    background-color: #C39E9E;
}

.socialicon {
    fill: none;
    stroke: #C39E9E;
    margin: 5px;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    transition: transform .2s;
}

.socialicon:hover{
    transform: translateY(-3px);
    stroke: #C39E9E;
}
.socials div{
    height: 100%;
    margin-top: 6px;
}
.socials a{
    color: black;
    padding: 0 8px;
}

.socials a:hover{
    transform: translateY(-3px);
}