*{
    margin: 0;
    padding: 0;
}

#navbar{
    margin: 0 auto;
    text-align: center;
}

.navbar-item { 
    padding: 0 50px;
    text-decoration: none;
    color: rgb(42, 42, 42);
    transition: 0.5s ease;
  }
  
  .navbar-item:hover {
    color: #C39E9E;
    text-shadow: 0 0 10px #ffffff88;
    transition: 0.5s ease;
  }